@import '../../styles/settings.scss';

.columnForm {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px;
  gap: 15px;

  // Media query dla urządzeń mobilnych
  @media (max-width: 768px) {
    flex-direction: column;
    gap: 15px;
  }
}

.label {
  margin-right: 15px;
  font-weight: bold;
  
  @media (max-width: 768px) {
    margin-right: 15px;
    margin-bottom: 5px;
  }
}

input {
    height: 40px;
    font-size: 16px;
    padding: 0 15px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
  }